In [1]:
# example from https://medium.com/@koki_noda/how-to-use-oecd-data-in-python-69a0234c6b27
# other examle (not used in this code) https://medium.com/@akshaybagal/oecd-stats-website-your-go-to-for-comprehensive-statistics-datasets-on-oecd-countries-2ae04e4aa044

import pandas as pd
import datetime as dt
import pandas_datareader.data as web

In [2]:
start_time = dt.datetime(1950, 1, 1)
end_time = dt.datetime(2022, 2, 1)
df = web.DataReader('HISTPOP', 'oecd', start_time, end_time)

In [8]:
print(df.shape)
df.info()
df.head()

(23, 5208)
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 23 entries, 2000-01-01 to 2022-01-01
Columns: 5208 entries, ('Australia', 'Women', 'Total') to ('European Union (27 countries)', 'Total', 'Old age dependency ratio (65 and over/20-64)')
dtypes: float64(5208)
memory usage: 936.0 KB

Country      Australia                                                    \
Sex              Women
Age              Total    0 to 4    5 to 9  10 to 14  15 to 19  20 to 24
Time
2000-01-01   9585337.0  620507.0  653189.0  648099.0  643833.0  630318.0
2001-01-01   9712875.0  620632.0  653425.0  655629.0  655832.0  635585.0
2002-01-01   9819727.0  618479.0  650643.0  662322.0  661925.0  646892.0
2003-01-01   9933140.0  618520.0  647081.0  667589.0  666720.0  663262.0
2004-01-01  10036771.0  618674.0  645030.0  671148.0  670030.0  677235.0

Country                                             ...  \
Sex                                                 ...
Age         25 to 29  30 to 34  35 to 39  40 to 44  ...
Time                                                ...
2000-01-01  721080.0  714004.0  752101.0  724739.0  ...
2001-01-01  699510.0  735150.0  746155.0  740243.0  ...
2002-01-01  681715.0  751776.0  737748.0  755459.0  ...
2003-01-01  673022.0  761226.0  730935.0  765722.0  ...
2004-01-01  668629.0  760318.0  730858.0  770759.0  ...

Country    European Union (27 countries)                           \
Sex                                Total
Age                             15 to 64     20 to 64 65 and over
Time
2000-01-01                   289284949.0  261590040.5  67321714.0
2001-01-01                   289389695.0  262027009.0  68403644.5
2002-01-01                   289969071.5  262846195.0  69505742.0
2003-01-01                   291115583.0  264165310.5  70548782.5
2004-01-01                   292142902.5  265297154.0  71711189.0

Country                                                                 \
Sex
Age        Share of 65 and over - elderly Share of under 15 - children
Time
2000-01-01                      15.693927                    16.868448
2001-01-01                      15.932021                    16.665684
2002-01-01                      16.150058                    16.473956
2003-01-01                      16.330375                    16.283244
2004-01-01                      16.538134                    16.087465

Country                               \
Sex
Age        Share of 15 to 24 - youth
Time
2000-01-01                 13.327218
2001-01-01                 13.171691
2002-01-01                 13.030583
2003-01-01                 12.917083
2004-01-01                 12.804210

Country                                                  \
Sex
Age        Total dependency ratio ((<20 & 65+) / 20-64)
Time
2000-01-01                                    63.984333
2001-01-01                                    63.855988
2002-01-01                                    63.736261
2003-01-01                                    63.537573
2004-01-01                                    63.443567

Country                                     \
Sex
Age        Share of 15 to 64 - working age
Time
2000-01-01                       67.437628
2001-01-01                       67.402295
2002-01-01                       67.375978
2003-01-01                       67.386373
2004-01-01                       67.374402

Country                                            \
Sex
Age        Young age dependency ratio (<20/20-64)
Time
2000-01-01                              38.248753
2001-01-01                              37.750418
2002-01-01                              37.292757
2003-01-01                              36.831272
2004-01-01                              36.413051

Country
Sex
Age        Old age dependency ratio (65 and over/20-64)
Time
2000-01-01                                    25.735580
2001-01-01                                    26.105570
2002-01-01                                    26.443503
2003-01-01                                    26.706301
2004-01-01                                    27.030516

[5 rows x 5208 columns]

In [7]:
country = "Poland"
sex = "Total"  # Men and Women
df_japan_total = df[country][sex]
df_japan_total.head()

Age,Total,0 to 4,5 to 9,10 to 14,15 to 19,20 to 24,25 to 29,30 to 34,35 to 39,40 to 44,...,15 to 64,20 to 64,65 and over,Share of 65 and over - elderly,Share of under 15 - children,Share of 15 to 24 - youth,Total dependency ratio ((<20 & 65+) / 20-64),Share of 15 to 64 - working age,Young age dependency ratio (<20/20-64),Old age dependency ratio (65 and over/20-64)
Time,,,,,,,,,,,,,,,,,,,,,
2000-01-01,38258477.5,2016434.0,2484452.0,2937340.0,3338185.0,3105369.0,2727748.0,2396164.0,2579380.0,3120987.0,...,26135867.0,22797682.0,4684388.0,12.244052,19.442033,16.842160,67.817417,68.313923,47.269766,20.547650
2001-01-01,38248076.0,1952348.0,2374469.0,2840022.0,3329887.0,3137217.0,2821388.0,2421355.0,2500291.0,3019804.0,...,26312920.0,22983033.0,4768323.0,12.466831,18.737777,16.908312,66.418775,68.795408,45.671631,20.747144
2002-01-01,38232301.0,1884802.0,2271562.0,2758960.0,3274832.0,3164145.0,2904999.0,2468402.0,2438795.0,2895227.0,...,26455781.0,23180949.0,4861196.0,12.714893,18.087648,16.841720,64.929835,69.197459,43.959184,20.970651
2003-01-01,38195177.0,1841413.0,2175333.0,2674129.0,3168642.0,3232197.0,2972660.0,2538101.0,2400956.0,2762964.0,...,26592435.0,23423793.0,4911867.0,12.859914,17.517591,16.758239,63.061452,69.622494,42.091889,20.969563
2004-01-01,38180249.0,1808692.0,2087358.0,2583521.0,3043241.0,3287121.0,3033481.0,2619975.0,2374985.0,2642543.0,...,26719988.0,23676747.0,4980690.0,13.045200,16.971002,16.580201,61.256312,69.983797,40.220103,21.036209